@import "tailwindcss";

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald.woff2") format("woff2");
  font-weight: 200 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

.dark {
  --svg-g1: #030712;
  --svg-g2: #111827;
  --svg-bg: #dbeafe;
}

@theme {
  /* Define your custom brand color */
  --color-brand: #0a0a23;

  --header-mobile: 4rem;
  --header-desktop: 5rem;

  --svg-g1: #939dac;
  --svg-g2: #b7bec8;
  --svg-bg: #cce0ff;

  --font-oswald: "Oswald", system-ui, sans-serif;
  --font-inter: "Inter", system-ui, sans-serif;
  --font-sans: "Inter", system-ui, sans-serif;

  /* Section Animation */

  --animate-section: transition-all duration-700 delay-200 ease-out;
  --animation-section-start: translate-y-0 scale-100 opacity-100;
  --animation-section-end: translate-y-6 md:translate-y-8 scale-95 opacity-0;



  /* Enable class-based Dark Mode */
  --variant-dark: &: where(.dark, .dark *);
}

/* Enable manual Dark Mode switching by looking for the .dark class */
@custom-variant dark (&:where(.dark, .dark *));